.question {
  margin: 1.5em 0;
  padding: 1em 2em;
  border-radius: var(--border-radius);
  background-color: var(--main-bgc);
}

.questionHeader {
  text-align: center;
  margin-bottom: 0.5em;
}

.answersContainer.long {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.answersContainer.short {
  display: flex;
  flex-direction: row;
}

.answersContainer.medium {
  display: flex;
  flex-flow: row wrap;
}

.answersContainer.medium .AnswerButton {
  flex: 1 1 0;
}

.medium > .AnswerButton > .answerText {
  white-space: nowrap;
}

.AnswerButton {
  border: 1px solid var(--grayed-out);
  border-radius: var(--btn-radius);
  padding: 0.9em 1em;
  margin: 0.3em;
  flex: 1 1 0px;
}

.AnswerButton.on {
  background-color: var(--accent);
  border-color: var(--accent);
}

.long .answerText {
  text-align: left;
}

.OptionButton {
  border-radius: var(--btn-radius);
  padding: 0.9em 0.9em;
}

.OptionButton.on {
  background-color: var(--accent);
}

.optionsContainer {
  display: flex;
  flex-flow: row;
  border: 1px solid var(--grayed-out);
  border-radius: var(--btn-radius);
  margin: 0.22em 1em 0.2em 0;
}

.optionAnswer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.h5.answerText {
  margin: 0.5em 0;
}

.OptionButton > .h5 {
  white-space: nowrap;
}

@media (max-width: 550px) {
  .question {
    margin: 1em 0;
    padding: 1em 0.7em;
  }

  .AnswerButton {
    padding: 0.5em 0.7em;
    margin: 0.3em;
  }
}

@media (max-width: 390px) {
  .AnswerButton {
    padding: 0.3em 0.5em;
    margin: 0.2em;
  }

  .OptionButton {
    padding: 0.7em 0.7em;
  }
}
