* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --main-bgc: #f1f1f1;
  --grayed-out: #777;
  --gentle-dark: #333;
  --accent: #e2c7a7;
  --border-radius: 15px;
  --btn-radius: 10px;
}

h5 {
  font-size: 0.9rem;
  color: var(--gentle-dark);
}

button {
  border: none;
  cursor: pointer;
}

.notVisited {
  color: var(--grayed-out);
}

main#quest {
  background-image: url("./imgs/questionareBackground.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  display: flow-root;
}

.PageSelector {
  margin: 3em 4em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: var(--border-radius);
  background-color: var(--main-bgc);
}

#questContainer {
  margin: 0 auto;
  width: 50vw;
  min-width: 560px;
  max-width: 700px;
}
