* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --main-bgc: #f1f1f1;
  --grayed-out: #777;
  --gentle-dark: #333;
  --accent: #e2c7a7;
  --border-radius: 15px;
  --btn-radius: 10px;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
  color: var(--gentle-dark);
}

button {
  border: none;
  cursor: pointer;
}

.notVisited {
  color: var(--grayed-out);
}

main#quest {
  background-image: url("./imgs/questionareBackground.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  display: flow-root;
}

.PageSelector {
  margin: 3em 4em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: var(--border-radius);
  background-color: var(--main-bgc);
}

#questContainer {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
}

.ControlButtons {
  display: flex;
  margin: 0 auto 4em auto;
  width: 100%;
  flex-direction: row;
  justify-content: stretch;
}

.ControlButton {
  padding: calc(0.9em + 1px) 1em;
  margin-right: 0.3em;
  flex: 1 1 0;
  border-radius: var(--btn-radius);
  background-color: var(--main-bgc);
}

.ControlButton:last-child {
  background-color: var(--accent);
  margin-right: 0;
  margin-left: 0.3em;
}

.ControlButton.off {
  background-color: var(--main-bgc);
}

.ControlButton.off > h4 {
  color: var(--grayed-out);
}
